@model IEnumerable<ECommerce.ViewModel.BarangViewModel>

<table class="table" id="data-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarianUkuran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathGambar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarianUkuran)
                </td>
                <td>
                    <img src="https://id-live-02.slatic.net/p/7/damai-atasan-basic-niki-stripe-konveksi-tanah-abang-1515727902-07432597-00eb55ea46f7d1ed3f63f52ce0105c01-catalog_233.jpg" alt="Chicago">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-display" data-id="@item.Id" title="Pilih Item">Pilih</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $("#data-list").DataTable();

    $(".btn-display").click(function () {
        $.ajax({
            url: '@Url.Action("Display", "Barang")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Detail Barang");
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });


</script>
