@model IEnumerable<ECommerce.ViewModel.BarangViewModel>

<table class="table" id="data-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarianUkuran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathGambar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarianUkuran)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.PathGambar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" title="Delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $("#data-list").DataTable();

    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Barang")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit Barang");
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Barang")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Hapus Barang");
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });
</script>